.bgnaranja{
    background-color: rgb(198, 123, 24);
}

.btnorange{
    background-color: rgb(198, 123, 24);
    border: solid rgb(198, 123, 24);
}

.floating-cart {
    position: fixed;
    top: 0;
    right: -300px; /* Adjust the width of the cart */
    width: 300px; /* Adjust the width of the cart */
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    transition: right 0.3s;
}

.cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.cart-content {
    padding: 20px;
}